

/* Hide scrollbar for IE, Edge and Firefox */
.npScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: 0;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
